<tmpl_include name="../layout/header.tmpl">
<!-- Masthead
================================================== -->
<!--<header class="jumbotron subhead" id="overview" style="margin:100px;">
  <h1>Register</h1>
  <p class="lead">A preview of changes in this swatch.</p>
</header>
-->

<div class="container" style="margin-top:80px">
    <tmpl_include name="../layout/breadcrumbs.tmpl">
    <!-- Forms
================================================== -->
<section id="forms">
    
  <div class="page-header">
    <h1>New Thread</h1>
  </div>

  <div class="row">
    <div class="span7 offset1">


      <form class="form-horizontal well" method="post" id="form_reg">
        
        <fieldset>
          <!--<legend>Controls Bootstrap supports</legend>-->
          <input type="hidden" name="rm" value="create_thread_post"/>
	  <input type="hidden" name="topic_id" value="<tmpl_var name="topic_id">"/>
          <div class="control-group" id="div_title">
            <label class="control-label" for="input_title">Title*</label>
            <div class="controls">
              <input name="title" type="text" class="input-xlarge" id="input_title" placeholder="min. 6 chars, max. 100 chars"/>
            </div>
          </div>
	  <div class="control-group" id="div_post">
            <label class="control-label" for="input_post">Post*</label>
            <div class="controls">
              <textarea name="post" class="input-xlarge" id="input_post" rows="15" placeholder="Post"/></textarea>
              
            </div>
          </div>
          <div class="control-group" id="div_image">
            <label class="control-label" for="input_image">Upload Image</label>
            <div class="controls">
              <input name="image" type="file" class="input-file" id="input_image" placeholder="Upload image"/>
            </div>
          </div>
          <div class="form-actions">
            <button id="btn_submit" type="submit" class="btn btn-primary disabled" >Submit</button>
          </div>
          <tmpl_if name="error_message">
            <div class="alert alert-error">
            <a class="close">×</a>
            <strong>Error</strong> Change a few things up and try submitting again.
            </div>
          </tmpl_if>
        </fieldset>
      </form>
    </div>
  </div>

</section>

</div>
<script>
    function check_all(){
        var usr = $("#input_title").attr('value');
        var pass = $("#input_post").attr('value');
        var flag = true;
        
        $("#div_title").removeClass('success error warning');
        $("#div_post").removeClass('success error warning');
        
        if(usr.length < 6 || usr.length > 100){
            $("#div_title").removeClass('success').addClass('error');
            flag =false;
        }
        if(pass.length < 25 || pass.length > 100){
            $("#div_post").removeClass('success').addClass('error');
            flag = false;
        }
       
        if(flag){
            $("#btn_submit").removeClass('disabled');
            $("#div_title").addClass('success');
            $("#div_post").addClass('success');
        }else{
            $("#btn_submit").addClass('disabled');
        }
    }
    $("#form_reg").ready(
      function(){
        $("#input_title").change(function(){
            check_all();
        });
        
        $("#input_post").change(function(){
            check_all();
        });
        
        $("#form_reg").keypress(function(e) {
            if (e.keyCode == 13) return '\n';
        });
      }
    );
</script>
<tmpl_include name="../layout/footer.tmpl">