<tmpl_include name="../layout/header.tmpl">
<!-- Masthead
================================================== -->
<!--<header class="jumbotron subhead" id="overview" style="margin:100px;">
  <h1>Register</h1>
  <p class="lead">A preview of changes in this swatch.</p>
</header>
-->

<div class="container" style="margin-top:80px">
    <!-- Forms
================================================== -->
<section id="column">
  <h3>Delete Thread</h3>
  <tmpl_loop name="threads">
  <div class="table" id="div-thread-<tmpl_var thread_id>">
    <table class="table well">
      <tbody>
        <tr>
          <td>
            <tmpl_var thread_date_created>
          </td>
          <td style="text-align: right" colspan="2">
            <a href="./index.pl?rm=view_thread&amp;single_post=true&amp;t=<tmpl_var name="thread_id">">#Permalink</a>
          </td>
        </tr>
        
        <!-- USER DATA-->
        <tr valign="top">
          <td>
            <h4><tmpl_var name="thread_creator_username"></h4>
            
            <tmpl_if name="is_guest">
              <!-- nothing -->
            <tmpl_else>
              
              <h6><tmpl_var name="thread_creator_role"></h6>
            </tmpl_if>
          </td>
          <td>
            <div class="span5"/>
          </td>
          <td style="text-align: right">
              <h6>Join Date: <tmpl_var name="thread_creator_date_created"></h6>
              <h6>Post: <tmpl_var name="thread_creator_total_post"></h6>
              <h6>thread: <tmpl_var name="thread_creator_total_thread"></h6>
              
          </td>
        </tr>
        <!--/USER DATA-->
        
        <!--MESSAGE BODY-->
        <tr>
          <td  colspan="3">
            <h3><tmpl_var name="thread_title"></h3>
            <p>
              <tmpl_var name="thread_post">
            </p>
          </td>
        </tr>
        <!--/MESSAGE BODY-->
        <!--IMAGE-->
        <tmpl_if thread_image_url>
            <tr>
                <td colspan="3">
                  <a href="/<tmpl_var thread_image_url>"><img src="/<tmpl_var thread_image_url>" style="max-height: 200px"/></a>
                </td>
            </tr>    
        </tmpl_if>
        <!-- /IMAGE-->
      </tbody>
      
    </table>
  </div>
  
    Do you really want to delete this thread?
  <a href="./index.pl?rm=delete_thread_post&topic_id=<tmpl_var topic_id>&t=<tmpl_var thread_id>" class="btn btn-danger">
    <i class="icon-trash icon-xlarge"></i>
    Delete
  </a>
</tmpl_loop>
  

</section>

</div>
<tmpl_include name="../layout/footer.tmpl">
  