<tmpl_include name="../layout/header.tmpl">
<!-- Masthead
================================================== -->
<!--<header class="jumbotron subhead" id="overview" style="margin:100px;">
  <h1>Register</h1>
  <p class="lead">A preview of changes in this swatch.</p>
</header>
-->

<div class="container" style="margin-top:80px">
    <tmpl_include name="../layout/breadcrumbs.tmpl">
    <!-- Forms
================================================== -->
<section id="column">
    
  <div class="row" id="div-thread">
    <table class="table well">
      <tbody>
        <tr>
          <td>
            2012-10-10, 13:23 PM
          </td>
          <td style="text-align: right" colspan="2">
            <a href="#">#3(Post ID)</a>
          </td>
        </tr>
        
        <!-- USER DATA-->
        <tr valign="top">
          <td>
            <h4>agp12</h4>
            <h6>admin/user/guest</h6>
          </td>
          <td>
            <div class="span5"/>
          </td>
          <td style="text-align: right">
            
              <h6>Join Date: 2012/23/12312</h6>
              <h6>Post: 23</h6>
              <h6>thread:23</h6>
            
          </td>
        </tr>
        <!--/USER DATA-->
        
        <!--MESSAGE BODY-->
        <tr>
          <td  colspan="3">
            <h3>Title</h3>
            <p>
              asdasdasd
              asdas
              das
              dasd
              
            </p>
          </td>
        </tr>
        <!--/MESSAGE BODY-->
        <!--MESSAGE BODY-->
        <tr>
          <td colspan="3">
            <a href="#" class="btn btn-success btn-xlarge">
              <i class="icon-pencil icon-xlarge"></i>
              Edit
            </a>
            <a href="#" class="btn btn-danger btn-xlarge">
              <i class="icon-trash icon-xlarge"></i>
              Delete
            </a>
            <a href="#" class="btn btn-primary btn-xlarge">
              <i class="icon-comment icon-xlarge"></i>
              Reply
            </a>
          </td>
        </tr>
        <!--/MESSAGE BODY-->
      </tbody>
      
    </table>
  </div>
  <tmpl_loop name="posts">
    <div class="row">
      
    </div>
  </tmpl_loop>
  

</section>

</div>
<tmpl_include name="../layout/footer.tmpl">
  