<tmpl_include name="../layout/header.tmpl">
<!-- Masthead
================================================== -->
<!--<header class="jumbotron subhead" id="overview" style="margin:100px;">
  <h1>Register</h1>
  <p class="lead">A preview of changes in this swatch.</p>
</header>
-->

<div class="container" style="margin-top:80px">
    <tmpl_include name="../layout/breadcrumbs.tmpl">
    <section id="buttons">
  <div class="page-header">
    <h1><tmpl_var name="topic_title"></h1>
  </div>
  
  <tmpl_if name="is_admin">
    <div class="table">
    <a class="btn" href="./index.pl?rm=create_thread&t=<tmpl_var name="topic_id">">New Thread</a>
    </div>
  </tmpl_if>
  <tmpl_if name="is_user">
    <div class="table">
    <a class="btn" href="./index.pl?rm=create_thread&t=<tmpl_var name="topic_id">">New Thread</a>
    </div>
  </tmpl_if>
  
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr style="">
        <th>Thread</th>
        <th>Latest Reply</th>
        <th>Total Reply</th>
      </tr>
    </thead>
    <tbody>
        <tmpl_loop name="threads">
            <tr>
                <td>
                <a href="<tmpl_var name="thread_id">"><tmpl_var name="thread_title"></a>
                </br>
                by <a href="./index.pl?rm=view_user&amp;username=<tmpl_var name="thread_creator_username">"><tmpl_var name="thread_creator_username"></a>
                <br/>
                <tmpl_var name="thread_date_created">
                </td>
                <td>
                <tmpl_if name="latest_post_id">
                    <a href="<tmpl_var name="latest_post_id">"><tmpl_var name="latest_post_title"></a>
                    <br/>
                    by <tmpl_if name="latest_post_creator_username">
                            <a href="#"><tmpl_var name="latest_post_creator_username">></a>
                        <tmpl_else>
                            guest
                        </tmpl_if>
                    <br/>
                    <tmpl_var name="latest_post_date_created">
                <tmpl_else>
                    スレッドがありません
                </tmpl_if>
                </td>
                <td>
                    <tmpl_var total_reply default="0">
                </td>
            </tr>
        </tmpl_loop>
        
      <!--
      <tr>
        <td><a class="btn btn-inverse" href="#">Inverse</a></td>
        <td><a class="btn btn-inverse btn-large" href="#">Inverse</a></td>
        <td><a class="btn btn-inverse btn-small" href="#">Inverse</a></td>
        <td><a class="btn btn-inverse disabled" href="#">Inverse</a></td>
        <td><a class="btn btn-inverse" href="#"><i class="icon-random icon-white"></i> Inverse</a></td>
        <td>
        <div class="btn-group">
          <a class="btn btn-inverse" href="#">Inverse</a>
          <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>>
        </td>
      </tr>
        -->
    </tbody>
  </table>
  <br/>
  <tmpl_include name="../layout/pagination.tmpl">

</section>
</div>

<tmpl_include name="../layout/footer.tmpl">