<tmpl_include name="../layout/header.tmpl">
<!-- Masthead
================================================== -->
<!--<header class="jumbotron subhead" id="overview" style="margin:100px;">
  <h1>Register</h1>
  <p class="lead">A preview of changes in this swatch.</p>
</header>
-->

<div class="container" style="margin-top:80px">
    <tmpl_include name="../layout/breadcrumbs.tmpl">
    <section id="buttons">
  
  <div class="page-header">
    <h1>トピック</h1>
  </div>
<div class="table">
  <tmpl_if name="is_admin">
    <a class="btn" href="./index.pl?rm=create_topic">New Topic</a>  
   
  </tmpl_if>
  <div style="float:right">
    <tmpl_include name="../layout/pagination.tmpl">  
  </div>
  
   </div>
  
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th style="text-align: center">トピック</th>
        <th style="text-align: center">最新投稿のスレッド</th>
        <th style="text-align: center">合計スレッド</th>
        <th style="text-align: center">合計応答</th>
      </tr>
    </thead>
    <tbody>
        <tmpl_loop name="topics">
            <tr>
                <td>
                <a href="./index.pl?rm=view_topic&topic_id=<tmpl_var name="topic_id">"><tmpl_var name="topic_title"></a>    
                </td>
                <td>
                <tmpl_if name="thread_title">
                    タイトル: 
                    <a href="./index.pl?rm=view_thread&amp;t=<tmpl_var name="thread_id">"><tmpl_var name="thread_title"></a>
                    <br/>
                    by <tmpl_if name="user">
                            <a href="#"><tmpl_var name="user"></a>
                        <tmpl_else>
                            Guest
                        </tmpl_if>
                    </br>
                    <tmpl_var date_modified>
                <tmpl_else>
                    スレッドがありません
                </tmpl_if>
                </td>
                <td>
                    <tmpl_var total_thread default="0">
                </td>
                <td>
                    <tmpl_var total_post default="0">
                </td>
            </tr>
        </tmpl_loop>
        
      <!--
      <tr>
        <td><a class="btn btn-inverse" href="#">Inverse</a></td>
        <td><a class="btn btn-inverse btn-large" href="#">Inverse</a></td>
        <td><a class="btn btn-inverse btn-small" href="#">Inverse</a></td>
        <td><a class="btn btn-inverse disabled" href="#">Inverse</a></td>
        <td><a class="btn btn-inverse" href="#"><i class="icon-random icon-white"></i> Inverse</a></td>
        <td>
        <div class="btn-group">
          <a class="btn btn-inverse" href="#">Inverse</a>
          <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>>
        </td>
      </tr>
        -->
    </tbody>
  </table>
  <div style="float:right">
    <tmpl_include name="../layout/pagination.tmpl">  
  </div>

</section>
</div>

<tmpl_include name="../layout/footer.tmpl">