<div class="pagination">
    <ul>
        <tmpl_loop name="pages">
            <tmpl_if name="disabled">
                <li class="disabled">
                    <a href="#">
                        <tmpl_var name="page">
                    </a>
                </li>
            </tmpl_if>
            <tmpl_if name="active">
                <li class="active">
                    <a href="#">
                        <tmpl_var name="page">
                    </a>
                </li>
            </tmpl_if>
            <tmpl_if not_both>
                <li>
                    <a href="<tmpl_var name="link">">
                        <tmpl_var name="page">
                    </a>
                </li>
            </tmpl_if>
        </tmpl_loop>
    </ul>
</div>